<ion-header>
  <ion-toolbar>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card-content>
    Use this page to calculate your 1 rep maxes
  </ion-card-content>
</ion-card>
<!-- Compound Lift Maxes -->
<ion-list-header>
    <ion-label>Compound Lift Maxes</ion-label>
</ion-list-header>
<ion-list inset="true">
  <ion-item color="light">
    <ion-label>1 Rep Max (lb):</ion-label>
    <ion-input inputmode="numeric" placeholder="Enter 4-6 rep max" type="text" text-right id="input" [(ngModel)]="maxInput"></ion-input>
    <ion-button (click)="showMax()" fill="clear" slot="end"><ion-icon name="checkmark-circle"></ion-icon></ion-button>
  </ion-item>
</ion-list>
<ion-card>
  <ion-card-content>
    This formula is to estimate 1RM for any compound exercise!<br>
    Input the weight (in lb's) that you can lift for 4-6 reps to failure
  </ion-card-content>
</ion-card>

<!-- Macro Calculator -->
<ion-list-header>
    <ion-label>TDEE Calculator</ion-label>
</ion-list-header>
<ion-list inset="true">
  <ion-item color="light">
    <ion-label>Age:</ion-label>
    <ion-input inputmode="numeric"  type="text" text-right id="input" [(ngModel)]="age"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label>Weight (lb):</ion-label>
    <ion-input inputmode="numeric"  type="text" text-right id="input" [(ngModel)]="weight"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-label>Height (in):</ion-label>
    <ion-input inputmode="numeric"  type="text" text-right id="input" [(ngModel)]="height"></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-select
      placeholder="Select activity level"
      (ionChange)="handleChange($event)"
    >
      <ion-select-option value="1.375">Light</ion-select-option>
      <ion-select-option value="1.55">Moderate</ion-select-option>
      <ion-select-option value="1.725">Very</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item button color="light" (click)="showMacro()"> Calculate </ion-item>
</ion-list>
<ion-card>
  <ion-card-content>
    This formula is to calculate your Total Daily Energy Expenditure<br>
    I.E. this is the number of calories you burn!
  </ion-card-content>
</ion-card>


</ion-content>
