<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Info Page</ion-card-subtitle>
    <ion-card-title>About Liftbuddy</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    As an avid fitness fan, creating an app to help keep track of my lifting journey was a fun idea.  This app was designed mainly for educational purposes and is very buggy so it is not meant for true consumer use as of yet. As I continue to work on it and make new versions, I might eventually release a true build that may even be published on the appstore!
  </ion-card-content>
</ion-card>

</ion-content>
