.iconSize {
    font-size: 3em;
    color: var(--ion-color-primary-shade);
}
.buttons {
    justify-content: center;
}
.undoBtn {
    justify-content: flex-end;
}
ion-textarea {
    border-radius: 10px;
    border-width: 10px;
    background: var(--ion-color-light);
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 15px;
}
.content {
    min-height: 10em;
}

.aquamarine {
    font-size: 2em;
    color: aquamarine;
}
.pink {
    font-size: 2em;
    color: pink;
}
.yellow {
    font-size: 2em;
    color: yellow;
}
.coral {
    font-size: 2em;
    color: coral;
}
.lavender {
    font-size: 2em;
    color: lavender
}
.lightblue {
    font-size: 2em;
    color: lightblue;
}