<ion-header>
  <ion-toolbar>
    <ion-title>{{headerLabel}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)= "clearInput()">
      <ion-icon name="backspace-outline" ></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-card>
  <ion-card-header>
    <ion-card-subtitle>New Session</ion-card-subtitle>
    <ion-card-title>Track your lifts!</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Example of how to post:<br><br>
    Bench: 135x8; 185x5; 205x5; 225x4; 135x12<br>
    Incline Bench: 40x8; 70x8; 85x8; 100x6; 50x12<br>
    Weighted Dips: BWx12; 45x10; 90x8; 135x3; 90x5<br>
  </ion-card-content>
</ion-card> 
  <ion-grid>
    <ion-row>
      <ion-col>

      <ion-list-header>
      <ion-label>Title:</ion-label>
      </ion-list-header>
        <ion-textarea auto-grow="true" #textInput2 (click) = "showKeyboard2()"></ion-textarea>  
      <ion-list-header>
      <ion-label>Content:</ion-label>
      </ion-list-header>
        <ion-textarea class="content" auto-grow="true" #textInput (click) = "showKeyboard()"></ion-textarea>   
      </ion-col>
</ion-row>

<br>
<ion-row class="buttons">
  <ion-button (click) = "saveNote()" fill="clear">
    <ion-icon slot="start" name="checkmark-outline" ></ion-icon>
  </ion-button>
    <ion-button [routerLink] = "['/tabs/home']" fill="clear">
    <ion-icon name="close-outline" ></ion-icon>
  </ion-button>
    <ion-button (click) = "deleteNote()" *ngIf="enableDelete" fill="clear">
    <ion-icon name="remove-outline" ></ion-icon>
  </ion-button>

    </ion-row>
  </ion-grid>
</ion-content>
