<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
    <ion-button [routerLink]="['/tabs/home']">
      <ion-icon slot="icon-only" name="refresh-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      Tracking
    </ion-title>
  <ion-buttons slot="primary">
    <ion-button [routerLink]="['/add-note']">
      Add
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="container" >
    <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tracking</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Record your lifts</ion-card-subtitle>
    <ion-card-title>Welcome to Tracking!</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    An important part of lifting is keeping track of your progress.  We recommended using this tab as a way of logging your workouts.<br><br>
    The recommended way is to begin by making the first post your routine followed by a new post for every day you log.<br><br> 
    *If changes are not seens use refresh button<br>
    *Example post format is in the add page
  </ion-card-content>
</ion-card>

  <ng-container *ngIf="!isEmpty()">
  <ion-card *ngFor="let item of list; trackBy:trackElement" [style.background-color]="item.color">
    <ion-card-header>
    <ion-card-subtitle>{{item.lastUpdated | date: 'medium'}} </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="padding-top:0; white-space: pre-line;">
      {{item.value}}

    </ion-card-content>
    <ion-button  size="small" fill="clear" (click) = "updateItem(item)">  <ion-icon name="create-outline"></ion-icon></ion-button>
  </ion-card>

</ng-container>

</ion-content>